{{- if .Values.secrets.create }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "aetherium.secretName" . }}
  labels:
    {{- include "aetherium.labels" . | nindent 4 }}
type: Opaque
stringData:
  {{- if not .Values.postgresql.enabled }}
  POSTGRES_USER: {{ .Values.secrets.postgres.username | quote }}
  POSTGRES_PASSWORD: {{ .Values.secrets.postgres.password | quote }}
  {{- end }}
  {{- if .Values.secrets.github.token }}
  GITHUB_TOKEN: {{ .Values.secrets.github.token | quote }}
  {{- end }}
  {{- if .Values.secrets.github.webhookSecret }}
  GITHUB_WEBHOOK_SECRET: {{ .Values.secrets.github.webhookSecret | quote }}
  {{- end }}
  {{- if .Values.secrets.slack.botToken }}
  SLACK_BOT_TOKEN: {{ .Values.secrets.slack.botToken | quote }}
  {{- end }}
  {{- if .Values.secrets.slack.appToken }}
  SLACK_APP_TOKEN: {{ .Values.secrets.slack.appToken | quote }}
  {{- end }}
{{- end }}
